.row
  .col-md-6
    .panel.top
      h2 Notification Board
      
      notifications-blank-state(
        ng-if="!discussions.length"
        discussions="discussions"
      )
      
      notifications(
        ng-if="discussions.length"
        discussions="discussions"
      )
        
  .col-md-6
    .panel.top
      h2 Gear Board
      
      gears-blank-state(
        ng-if="!gears.length"
        gears="gears"
      )
      
      gears(
        ng-if="gears.length"
        gears="gears"
      )
