.panel
  ul
    li(
      ui-sref="gyms.news({gymId: gymId})"
    )
      i.fa.fa-newspaper-o
      | News
    li(
      ui-sref="gyms.zones({gymId: gymId})"
    )
      i.fa.fa-map-o
      | Zones
    li(
      ui-sref="gyms.routes({gymId: gymId})"
    )
      i.fa.fa-search
      | Routes
    li(
      ui-sref="gyms.community({gymId: gymId})"
    )
      i.fa.fa-commenting-o
      | Community
    li(
      ui-sref="gyms.members({gymId: gymId})"
    )
      i.fa.fa-users
      | Members
    li(
      ui-sref="gyms.analytics({gymId: gymId})"
    )
      i.fa.fa-bar-chart
      | Analytics
    li(
      ui-sref="gyms.info({gymId: gymId})"
    )
      i.fa.fa-info
      | Info
    

  
