.panel.top
  .btn-group
    .btn-circle(
      ng-if="!creating"
      uib-tooltip='create'
      ng-click="new()"
    ) +
    
    .btn-circle.green(
      ng-if="creating"
      uib-tooltip='save'
      ng-click="submit()"
    ) &#10003;
    
    .btn-circle.gray(
      ng-if="creating"
      uib-tooltip='cancel'
      ng-click="cancel()"
    ) &times;

  h2 Setters
  
  div(
    ng-if="creating"
  )
    .add
      .form-group
        label First Name
        input.form-control(
          ng-model="form.firstname"
          placeholder="First Name"
        )
      .form-group
        label Last Name
        input.form-control(
          ng-model="form.lastname"
          placeholder="Last Name"
        )
      
  .setters(
    ng-repeat="setter in setters"
  )
    .flag.member 
      img(
        ng-src="{{setter.image}}"
      )
      .text {{setter.firstname}} {{setter.lastname}}
  
