.row
  .col-md-8
    .panel.top
      btncreate(
        ng-show="isGymAdmin()"
        save="createNews"
        creating="creating"
      )
        
      h2 Gym News
      
      div(
        ng-if="creating"
      )
        .form-group
          label Message
          textarea.form-control(
            ng-model="alert.message"
            placeholder="Enter your message for your members here and click save"
          )
          
      .news(
        ng-repeat="entry in entries"
      )
        hr
        
        div(
          ng-if="!entry.editing"
        ) {{entry.message}}
        
        .form-group(
          ng-if="entry.editing"
        )
          label Message
          textarea.form-control(
            ng-model="entry.message"
          )
          
        div {{entry.createdAt | amCalendar:referenceTime:formats}}
        .btn-group(
          ng-if="isGymAdmin()"
        )
          .btn-circle(
            uib-tooltip='delete'
            ng-click="delete(entry)"
          ) 
            i.glyphicon.glyphicon-trash
            
          .btn-circle(
            ng-if="!entry.editing"
            uib-tooltip='edit'
            ng-click="edit(entry)"
          ) &#9998;
          
          .btn-circle.green(
            ng-if="entry.editing"
            uib-tooltip='save'
            ng-click="save(entry)"
          ) &#10003;
          
          .btn-circle.gray(
            ng-if="entry.editing"
            uib-tooltip='cancel'
            ng-click="cancelEntry(entry)"
          ) &times;
      
  .col-md-4
    .panel.top
      div(style="text-align: center;")
        .fb-page(
          data-height='800'
          data-href='{{gym.facebook}}'
          data-tabs='timeline'
          data-small-header='false'
          data-adapt-container-width='true'
          data-hide-cover='false'
          data-show-facepile='true'
        )
