.panel.top
  h2 Zones
  
  .add
    form(
      ng-submit="submit()"
    )
      .form-group
        label Zone Name
        input.form-control(
          ng-model="form.name"
          placeholder="Zone Name"
        )
        button(
          type="submit"
        ) Create Zone
  
  .zone(
    ng-repeat="zone in zones"
  )
    {{zone.name}}
    button(
      ui-sref="gyms.zone({gymId: gymId, zoneId: zone.id})"
    ) Edit
