.panel.top
  h2 News Feed

  div(style="text-align: center;")
    .fb-page(
      data-height='800'
      data-href='https://www.facebook.com/aiguilleclimbing'
      data-tabs='timeline'
      data-small-header='false'
      data-adapt-container-width='true'
      data-hide-cover='false'
      data-show-facepile='true'
    )
      .fb-xfbml-parse-ignore
        blockquote(cite='https://www.facebook.com/aiguilleclimbing')
          a(href='https://www.facebook.com/aiguilleclimbing') Aiguille Rock Climbing Center
