.panel.top
  h2 Gym Configurations

  form(
    ng-submit="submit()"
  )
    .form-group
      label Hide setter names from users
      br
      toggle-switch(
        ng-model="gym.hideSetters"
      )
      
    .form-group
      label Combine top rope routes with lead on zones page
      br
      toggle-switch(
        ng-model="gym.combineRope"
      )
      
    .form-group
      label Hide facebook news feed
      br
      toggle-switch(
        ng-model="gym.hideFacebook"
      )
    
    .form-group
      label Twitter URL
      input.form-control(
        ng-model="gym.twitter"
        placeholder="http://twitter.com/yourgymhandle"
      )    
    
    .form-group
      label Facebook URL
      input.form-control(
        ng-model="gym.facebook"
        placeholder="http://facebook.com/yourgymhandle"
      ) 
      
    .form-group
      img(
        ng-src="{{gym.banner}}"
        height="200"
      )
      br
      label Banner Image URL
      input.form-control(
        ng-model="gym.banner"
        placeholder="http://google.com/your_image_location"
      ) 
      button(
        type="button"
        ngf-select="upload($file, 'banner')"
        ng-model="file"
        name="file"
        ngf-max-size="2MB"
      ) Upload Banner Image
      
      
    .form-group
      img(
        ng-src="{{gym.logo}}"
        height="200"
      )
      br
      label Logo Image URL
      input.form-control(
        ng-model="gym.logo"
        placeholder="http://google.com/your_image_location"
      ) 
      button(
        type="button"
        ngf-select="upload($file, 'logo')"
        ng-model="file"
        name="file"
        ngf-max-size="2MB"
      ) Upload Logo Image
    
    button(
      type="submit"
    ) Save
