.row
  .col-md-12
    .panel.top
      h2 Gym Members
      
      .flag.member 
        img(
          src="assets/images/me.jpeg"
        )
        .text Cody Seibert

      .flag.member 
        img(
          src="assets/images/me.jpeg"
        )
        .text Cody Seibert
    
      .flag.member 
        img(
          src="assets/images/me.jpeg"
        )
        .text Cody Seibert
    
      .flag.member 
        img(
          src="assets/images/me.jpeg"
        )
        .text Cody Seibert

      .flag.member 
        img(
          src="assets/images/me.jpeg"
        )
        .text Cody Seibert
    
      .flag.member 
        img(
          src="assets/images/me.jpeg"
        )
        .text Cody Seibert
