.row
  .col-md-8
    .panel.top
      btncreate(
        save="createNews"
        creating="creating"
      )
        
      h2 Gym News
      
      div(
        ng-if="creating"
      )
        .form-group
          label Text
          textarea.form-control(
            ng-model="alert.message"
            placeholder="Enter your news here"
          )
          
      .news(
        ng-repeat="entry in entries"
      )
        hr
        
        div(
          ng-if="!entry.editing"
        ) {{entry.message}}
        
        .form-group(
          ng-if="entry.editing"
        )
          label Text
          textarea.form-control(
            ng-model="entry.message"
          )
        div {{entry.date}}
        .btn-group
          .btn-circle(
            uib-tooltip='delete'
            ng-click="delete(entry)"
          ) 
            i.glyphicon.glyphicon-trash
            
          .btn-circle(
            ng-if="!entry.editing"
            uib-tooltip='edit'
            ng-click="edit(entry)"
          ) &#9998;
          
          .btn-circle.green(
            ng-if="entry.editing"
            uib-tooltip='save'
            ng-click="save(entry)"
          ) &#10003;
          
          .btn-circle.gray(
            ng-if="entry.editing"
            uib-tooltip='cancel'
            ng-click="cancelEntry(entry)"
          ) &times;
      
  .col-md-4
    .panel.top
      div(style="text-align: center;")
        .fb-page(
          data-height='800'
          data-href='https://www.facebook.com/aiguilleclimbing'
          data-tabs='timeline'
          data-small-header='false'
          data-adapt-container-width='true'
          data-hide-cover='false'
          data-show-facepile='true'
        )
          .fb-xfbml-parse-ignore
            blockquote(cite='https://www.facebook.com/aiguilleclimbing')
              a(href='https://www.facebook.com/aiguilleclimbing') Aiguille Rock Climbing Center
