.top
  img.logo(
    src="assets/images/setter-logo.svg" 
    height="35px" 
    width="35px" 
    alt="Setter" 
    class="text-right mr1 mb1"
  )
  
  .links
    .link(
      ng-if="isUserAccount()"
    )
      i.fa.fa-user
      | View Profile
  
    .link(
      ng-if="isGymAccount()"
    )
      i.fa.fa-tachometer
      | Dashboard
      
    .link(
      ng-if="isUserAccount()"
    )
      | Home
      i.fa.fa-home
      
    .link
      i.fa.fa-search
      | Gyms
      
    .link
      i.fa.fa-users
      | Users
            
    .link(
      ui-sref="settings"
    )
      i.fa.fa-gear
      | Settings
