.top
  img.logo(
    src="assets/images/setter-logo.svg" 
    height="35px" 
    width="35px" 
    alt="Setter" 
    class="text-right mr1 mb1"
  )

  .links
    .link
      i.fa.fa-user
      | View Profile
      
    .link
      i.fa.fa-search
      | Search Gyms
      
    .link
      i.fa.fa-home
      | Search Gyms
