.top
  img.logo(
    src="assets/images/setter-logo.svg" 
    height="35px" 
    width="35px" 
    alt="Setter" 
    class="text-right mr1 mb1"
  )
  
  .links
    .link(
      ui-sref="gyms.news({gymId: gymId})"
    )
      i.fa.fa-home
      | Home
      
    .link(
      ui-sref="profile"
    )
      i.fa.fa-user
      | Profile
      
    .link(
      ui-sref="setters({gymId: gymId})"
    )
      i.fa.fa-users
      | Setters
      
    .link(
      ui-sref="manageroutes"
    )
      i.fa.fa-book
      | Manage Routes
      
    .link(
      ui-sref="findgym"
    )
      i.fa.fa-search
      | Gyms
      
    .link(
      ui-sref="finduser"
    )
      i.fa.fa-users
      | Users
            
    .link(
      style="float: right"
      ui-sref="settings"
    )
      i.fa.fa-gear
      | Settings
