.top
  img.logo(
    src="assets/images/setter-logo.svg" 
    height="35px" 
    width="35px" 
    alt="Setter" 
    class="text-right mr1 mb1"
  )
  
  .links
    .link(
      ng-if="$root.isGymAccount()"
      ui-sref="gyms.news({gymId: $root.accountId()})"
    )
      i.fa.fa-home
      | Home
      
    .link(
      ng-if="$root.hasHomeGymId()"
      ui-sref="gyms.news({gymId: $root.getHomeGymId()})"
    )
      i.fa.fa-home
      | Home
      
    .link(
      ui-sref="profile({userId: $root.accountId()})"
      ng-if="$root.isLoggedIn() && !$root.isGymAccount()"
    )
      i.fa.fa-user
      | Profile
      
    .link(
      ui-sref="setters({gymId: gymId})"
      ng-if="$root.isGymAccount()"
    )
      i.fa.fa-users
      | Setters
      
    .link(
      ui-sref="manageroutes({gymId: gymId})"
      ng-if="$root.isGymAccount()"
    )
      i.fa.fa-book
      | Manage Routes
      
    .link(
      ui-sref="findgym"
      ng-if="!$root.isGymAccount()"
    )
      i.fa.fa-search
      | Gyms
      
    .link(
      ui-sref="finduser"
      ng-if="!$root.isGymAccount()"
    )
      i.fa.fa-users
      | Users
            
    .link(
      style="float: right"
      ng-if="$root.isGymAccount()"
      ui-sref="gymsettings({gymId: $root.accountId()})"
    )
      i.fa.fa-gear
      | Settings
      
  .subnav
    .link(
      ui-sref="gyms.news({gymId: gymId})"
    )
      i.fa.fa-newspaper-o
      | News
      
    .link(
      ui-sref="gyms.zones({gymId: gymId})"
    )
      i.fa.fa-map-o
      | Zones
      
    .link(
      ui-sref="gyms.routes({gymId: gymId})"
    )
      i.fa.fa-search
      | Routes
      
    .link(
      ui-sref="gyms.community({gymId: gymId})"
    )
      i.fa.fa-commenting-o
      | Community
      
    .link(
      ui-sref="gyms.members({gymId: gymId})"
    )
      i.fa.fa-users
      | Members
      
    .link(
      ui-sref="gyms.analytics({gymId: gymId})"
    )
      i.fa.fa-bar-chart
      | Analytics
      
    .link(
      ui-sref="gyms.info({gymId: gymId})"
    )
      i.fa.fa-info
      | Info
      
